#newBridge .nb-icon-right-center {
    top: 82% !important;
    height: 50px !important;
    width: 50px !important;
}
#newBridge .nb-icon-wrap-4 .nb-icon-wrap-base{
    background-size: 40px !important;
}