.box_type_div .twoStep-detail {
  height: 5.533333rem;
  background: #ffffff;
  box-shadow: 0px 0px 35px 0px rgba(18, 46, 116, 0.1);
  border-radius: .133333rem;
  margin: 0 .32rem;
  margin-top: .426667rem;
  padding: .533333rem .466667rem;
  color: #9E918F;
}
.box_type_div .twoStep-detail .detail-title {
  width: 5.333333rem;
  font-size: .32rem;
  font-family: Noto Sans S Chinese;
  font-weight: 400;
  color: #000;
  margin-bottom: .533333rem;
}
.box_type_div .twoStep-detail .detail-sub {
  margin: .133333rem 0;
  font-size: .293333rem;
}
.box_type_div .twoStep-detail .detail-sub-five {
  font-size: .266667rem;
  color: #007D7B;
}
.box_type_div .twoStep-detail .detail-sub-six {
  font-size: .266667rem;
  color: #FE0028;
}
.box_type_div .twoStep-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.box_type_div .twoStep-button .button-left {
  flex: 1 50%;
  height: 1.173333rem;
  line-height: 1.066667rem;
  background: #74b6b5;
  font-size: .4rem;
  text-align: center;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
}
.box_type_div .twoStep-button .button-right {
  flex: 1 50%;
  height: 1.173333rem;
  line-height: 1.066667rem;
  text-align: center;
  background: #007d7b;
  font-size: .4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
}
