html {
    flex           : 1;
    justify-content: center;
    align-items    : center;
    background     : #F7F7F7;
    min-height     : calc(100vh);
    [v-cloak] {
        display: none;
    }
    .main_div {
        // height: calc(100vh);
        position : relative;
    }
}